# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Node.js backend
backend_/node_modules/

# React frontend
frontend/node_modules/
frontend/build/
frontend/.env

# misc
.DS_Store