* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body, html {
    font-family: 'Arial', sans-serif;
  }
  
  .app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    color: white;
    overflow: hidden;
  }
  
  h1 {
    margin-bottom: 20px;
    animation: fadeIn 2s ease-in-out forwards;
  }

  .logo {
    animation: fadeIn 2s;
    align-self: center;
    max-width: 30vw;
  }
  
  .input-form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    animation: fadeIn 2s ease-in-out forwards;
  }

  .secondinput-form {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100vw;
  }
  
  .input-field {
    padding: 10px;
    font-size: 22px;
    width: 50vw;
    height: 8vh;
    margin-right: -1px;
    border-radius: 30px 0px 0px 30px;
    background-color: #3C151C;
    border: 1px solid black;
    color: #FFFDF5;
    cursor: text;
    text-indent: 15px;
    animation: fadeIn 2s ease-in-out forwards;
  }

  .secondinput-field {
    margin-top: -95vh;
    padding: 10px;
    font-size: 15px;
    width: 500px;
    height: 40px;
    margin-right: -1px;
    border-radius: 30px 0 0 30px;
    background-color: #3C151C;
    border: 1px solid #ccc;
    color: #FFFDF5;
    text-indent: 15px;
    cursor: text;
  }
  
  .submit-button {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 0 30px 30px 0;
    cursor: pointer;
    border: none;
    background-color: #35BB8B;
    color: white;
    transition: background-color 0.3s ease;
    animation: fadeIn 2s ease-in-out forwards;
  }

  .submit-button:disabled {
    background-color: #ccc;
  }
  
  .submit-button:hover:not(:disabled) {
    background-color: #37CB72;
  }

  .secondsubmit-button {
    margin-top: -95vh;
    height: 40px;
    padding: 10px 20px;
    border-radius: 0 30px 30px 0;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border: 1px solid #ccc;
    background-color: #35BB8B;
    color: white;
    transition: background-color 0.3s ease;
  }

  .secondsubmit-button:disabled {
    background-color: #ccc;
  }
  
  .secondsubmit-button:hover:not(:disabled) {
    background-color: mediumseagreen;
  }

  .failedsubmit-button {
    margin-top: -95vh;
    height: 40px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: crimson;
    color: white;
    transition: background-color 0.3s ease;
  }

  .failedsubmit-button:disabled {
    background-color: #ccc;
  }
  
  .failedsubmit-button:hover:not(:disabled) {
    background-color: red;
  }

  .expandable-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 50px;
    border-radius: 20px;
    border-color: white;
    transition: width 0.2s ease, border-radius 0.2s ease;
    overflow: hidden;
  }
  
  .expandable-button.expanded {
    margin-top: 10px;
    color: white;
    width: 50vw;
    height: 100vh;
    position: absolute;
    left: 26%;
  }
  
  .expand-button {
    margin-top: 10px;
    border-radius: 10px;
    background-color: #3C151C;
    border: solid white 0.5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    padding: 10px 20px;
    opacity: 0.1;
    transition: opacity 0.3s ease;
  }

  .expand-button:hover {
    opacity: 1;
  }

  .hidden {
    opacity: 0;
  }

  .secondexpand-button {
    margin-top: -95vh;
    margin-left: -30px;
    background: none;
    border-radius: 10px;
    background-color: #3C151C;
    border: solid white 0.5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    padding: 10px 20px;
  }
  
  .error-message {
    color: red;
    margin-top: 20px;
  }
  
  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .info-text {
    font-size: 24px;
    font-weight: bold;
    z-index: 10;
  }
  
  .fade-in-element {
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
    font-size: 20px;
    color: #3C151C;
    text-decoration: underline;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }